{% extends 'templates/base.twig' %}

{% block content %}

<section class="welcome">
   <div class="container">
      <div class="welcome__row">
         <div class="welcome__title">
            <h1 class="title">
               HOUSE OF <span>GAMBLING</span>
            </h1>
            <div class="subtitle">
               Raise your ROI with direct advertiser
            </div>
            <a href="#" class="btn btn--big">
               Become a Partner
            </a>
         </div>
         <div class="welcome__bg">
            {# <img src="images/Line_1.png" alt=""> #}
            {# <img src="images/Line_2.png" alt=""> #}
            {# <img src="images/Line_3.png" alt=""> #}
            <div></div>
            <div></div>
            <div></div>
         </div>
         <div class="blog">
            <div class="blog__title">
               blog
            </div>
            <div class="blog__content">
               <div class="blog__content--row">
                  <div class="blog__content--block">
                     <p>
                        Payment methods: Skrill, Neteller, webmoney, Bank transfer
                     </p>
                     <p class="blog__content--block--date">
                        10.02.2023
                     </p>
                  </div>
                  <div class="blog__content--block">
                     <p>
                        Payment methods: Skrill, Neteller, webmoney, Bank transfer
                     </p>
                     <p class="blog__content--block--date">
                        10.02.2023
                     </p>
                  </div>
                  <div class="blog__content--block">
                     <p>
                        Payment methods: Skrill, Neteller, webmoney, Bank transfer
                     </p>
                     <p class="blog__content--block--date">
                        10.02.2023
                     </p>
                  </div>
                  <div class="blog__content--block">
                     <p>
                        Payment methods: Skrill, Neteller, webmoney, Bank transfer
                     </p>
                     <p class="blog__content--block--date">
                        10.02.2023
                     </p>
                  </div>
                  <div class="blog__content--block">
                     <p>
                        Payment methods: Skrill, Neteller, webmoney, Bank transfer
                     </p>
                     <p class="blog__content--block--date">
                        10.02.2023
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

{% endblock %}